# Database Configuration
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=root
DB_NAME=laces_and_soles

# application configuration
FLASK_APP=app.py
FLASK_ENV=development
PORT=5000

# security keys
SECRET_KEY=your_super_secret_key_here
JWT_SECRET_KEY=your_super_jwt_secret_here

# Razorpay Configuration
MID=YOUR_MID_HERE
RAZORPAY_KEY_ID=rzp_test_YOUR_KEY_HERE
RAZORPAY_KEY_SECRET=YOUR_SECRET_HERE
